/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 1700px) and (max-width: 2000px) {
    /* .hero-area {

        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        height: 558px;
        padding: 43px 0 1245px 0;
      } */
}
@media screen and (min-width: 992px) and (max-width: 1200px) {}

/*
====================================
Small Screen - Tablate
====================================
*/

@media screen and (min-width: 768px) and (max-width: 991px) {
    .menu-logo {
        display: block !important;
    }
    .menu-bar {
        display: block;
    }
    .menu-item {
        display: none !important;
    }
    .mobile-icon-ss {
        margin-top: -5px;
        margin-right: 1px !important;
        display: block !important;
        margin-left: 0px;
    }
    .menu-bar-wraper {
        display: flex;
        align-items: center;
    }
    .hero-area {
        padding: 43px 0 67px 0;
    }
    .hero-title h2 {
        font-size: 66px;
        transform: rotate(0deg);
        line-height: 70px;
        margin-bottom: 20px;
        margin-top: 101px;
    }
    .hero-title p br {
        display: none;
    }
    .hero-title h3 {
        font-size: 23px;
        margin-bottom: 24px;
    }
    .hero-title ul li a {
        margin-bottom: 24px;
    }

    .hero-right
    {
    margin-top: -9px;
    text-align: center;
    }
 
/* =========== */
.hero-title ul{
    flex-wrap: wrap;
}
.hero-title ul li {
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .hero-title ul li a {
	color: #000;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px  0px;


	transition: .3s;
	margin-bottom: 10px;
	margin-left: 0px;
	width: 100%;
	display: block;
}

.hero-title ul li:first-of-type a{
    width: 100%;
}

.hero-right img {
    max-width: 993px;
    position: absolute;
    left: -318px;
    top: -217px;
  }




    .about-area {
        padding: 43px 0;
    }
    .about-left img
    {
    max-width: 100%;
    }
    .about-left img
    {
    margin-top: 9px;
    margin-left: 0px;
    }




    .about-right {
        margin-top: 29px;
        text-align: center;
    }
    .about-right h2 {
        font-size: 50px;
    }
    .about-right p
    {
      font-size: 21px;
    }

    .tokenomics-area {
        padding: 50px 0 26px;
    
    }
    .tokenomic-title h2{
        font-size: 50px;
    }

    .token-left-item{
        margin-top: 40px;
   
    }
    .token-right-item{
        padding: 0px;
        border: none;
    }
    .token-right-content {
        display: block;
    }
    .about-btn- h3
    {

      font-size: 20px;
    }


    .token-left {
        margin-bottom: 40px;
    }

    .partners-title h2 {
        font-size: 49px;
        line-height: 50px;
        margin-bottom: 40px;
    }
    .token-right {
    
        padding: 35px 30px;
        display: block;
        text-align: center;
    }
    .token-right-ll {
        text-align: center;
    }
    .token-right-rr {
        margin-left: 0px;
    }

    .token-right h2 {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 30px;
    }
    .roadmap-item {
       min-height: 450px;
        padding: 30px;
    }





    .roadmap-title h2 {
        font-size: 48px;
    }
    .roadmap-title p {
        text-align: center;
        margin-bottom: 45px;
    }
    .our-roadmap-area {
        padding: 60px 0 30px 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        min-height: inherit;
        /* position: relative; */
    }

    .hero-img {
        margin-top: 60px;
        text-align: center;
        margin-bottom: 97px;
    }

    .roadmap-item{
        margin-bottom: 30px;
    }

 
    .footer-btm-content ul li {
        color: #000;
        font-family: "Baloo Bhai 2";
        font-size: 16px !important;
    }
    footer {
        padding: 80px 0 0;
        background: #E3F1FC;
        background-image: url(../images/images-footer-btm.png);
        background-repeat: no-repeat;
        background-size: 100% 209px;
        background-position: bottom left;
    }



}

/*
====================================
Small Screen - Mobile
====================================
*/
/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/

@media screen and (max-width: 767px) {
    .menu-logo {
        display: block !important;
    }
    .menu-bar {
        display: block;
    }
    .menu-item {
        display: none !important;
    }
    .mobile-icon-ss {
        margin-top: -5px;
        margin-right: 1px !important;
        display: block !important;
        margin-left: 0px;
    }
    .menu-bar-wraper {
        display: flex;
        align-items: center;
    }
    .hero-area {
        padding: 43px 0 7px 0;
    }
    .hero-title h2 {
        font-size: 66px;
        transform: rotate(0deg);
        line-height: 70px;
        margin-bottom: 20px;
        margin-top: 101px;
    }
    .hero-title p br {
        display: none;
    }
    .hero-title h3 {
        font-size: 23px;
        margin-bottom: 24px;
    }
    .hero-title ul li a {
        margin-bottom: 24px;
    }

    .hero-right
    {
    margin-top: -9px;
    text-align: center;
    }

      

    .hero-title h2 {
        font-size: 55px;
        transform: rotate(0deg);
        line-height: 70px;
        margin-bottom: -14px;
        margin-top: 101px;
      }

    /* =========== */
    .hero-title ul{
        flex-wrap: wrap;
    }
    .hero-title ul li {
        width: 50%;
        padding-left: 5px;
        padding-right: 5px;
    }

    .hero-title ul li a {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        display: inline-block;
        padding: 13px  0px;

        transition: .3s;
        margin-bottom: 10px;
        margin-left: 0px;
        width: 100%;
        display: block;
    }

    .hero-right img {
     
        max-width: 100%;
        position: inherit;
        left: 0px;
        top: 0px;
    }

 
    .about-area {
        padding: 43px 0;
    }
    .about-left img
    {
    max-width: 100%;
    }
    .about-left img
    {
    margin-top: 9px;
    margin-left: 0px;
    }




    .about-right {
        margin-top: 0px;
        text-align: center;
    }
    .about-right h2 {
        font-size: 40px;
        line-height: 50px;
    }
    .about-right p
    {
        margin-bottom: 0px;
      font-size: 21px;
    }



    .partners-area {
        padding: 35px 0px;
    }
    .mas-pra{
        max-width: 100%;
        margin: inherit;
    }
    .tokenomics-area {
        padding: 50px 0 26px;
    
    }
    .tokenomic-title h2{
        font-size: 50px;
    }

    .token-left-item{
    padding: 15px;
    margin-top: 30px;
    cursor: pointer;
    }
    .token-left-item p {
        font-size: 12px;
    }
    .token-right-item{
        padding: 0px;
        border: none;
    }
    .token-right-content {
        display: block;
    }
    .about-btn- h3
    {

      font-size: 20px;
    }


    .token-left {
        margin-bottom: 40px;
    }

    .partners-title h2 {
        font-size: 49px;
        line-height: 50px;
        margin-bottom: 40px;
    }
    .token-right {
 
        padding: 35px 10px;
        display: block;
    }
    .token-right-ll {
        text-align: center;
    }
    .token-right-rr {
        margin-left: 0px;
    }

    .token-right h2 {

        margin-bottom: 10px;
        margin-top: 30px;
    }
    .roadmap-item {
 
        padding: 30px;
        min-height: inherit;
    }

    .disclaimer-inner h2 {
        font-size: 35px;
    }
    .disclaimer-inner p {
        font-size: 17px;
    }
  

    .roadmap-title h2 {
        font-size: 48px;
        line-height: 50px;
    }
    .roadmap-title p {
        text-align: center;
        margin-bottom: 45px;
    }
    .our-roadmap-area {
        padding: 10px 0 30px 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        min-height: inherit;
        /* position: relative; */
    }


    .roadmap-item{
        margin-bottom: 30px;
    }

    .disclaimer-inner {
        margin-bottom: 100px;
    }

    footer {
        padding: 80px 0 0;
        background: #E3F1FC;
        background-image: url(../images/images-footer-btm.png);
        background-repeat: no-repeat;
        background-size: 100% 259px;
        background-position: bottom left;
    }

    .footer-btm-content ul {
        display: block;
        align-items: center;
        justify-content: space-between;
      }


  





}